<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body>
    <div class="container" id="app">
        <h1>To Do</h1>
        <ul>
            <li v-for="task in tasks">
                <div class="task">
                    <pre>{{ task | json }}</pre>
                </div>
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="js/main.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                tasks: []
            },
            filters: {
                json: function (value) {
                    return JSON.stringify(value, null, 2);
                }
            },
            mounted: function () {
                this.getTasks();
            },
            methods: {
                getTasks: function () {
                    const url = `/api/todo`;
                    fetch(url)
                        .then(res => res.json())
                        .then(result => {
                            this.tasks = result.data;
                        })
                        .catch(err => console.log(err));
                }
            }
        });
    </script>
</body>

</html>